body{
    font-family: 'VT323', monospace;
    font-size: 3rem;
    color: rgb(0,166,0);
    background-color: black;
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}
.wrapper{
    width: 60%;
    margin: 5% auto;
}
#computer_ASCII{
    font-size: .75rem;
    width: 500px;
    margin: 0 auto;
    white-space: pre;
}
#fontName{
    font-size: 10rem;
    display:block;
    
    z-index: 3;
    background: black;
}
#designerName{
    font-size: 4rem;
}
#fontClassification{
    font-size: 2rem;
}

.blink {
    animation: blink 1s step-end infinite;
  }
  
  @-webkit-keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  
  @keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
  }
  /*
  inspiration for
  text blinking effect by Alan Dunning:
  https://codepen.io/alandunning/pen/RWRrEW
  */

  
  #letterForms span
  {
      display: block;
  }
  #letterGroup{
      position: absolute;
      left: 10;
      top: 325;
  }


  @media only screen and (max-width: 900px) {
    .wrapper {
        width: 80%;
        margin: 5% auto;
    }
    #letterForms 
    {
        display: block;
    }
    #letterGroup{
        position: static;
        text-align: center;
    
    }
}
#musicIFRAME{
    display: block;
}
